@model CreatePhotoModel
@{
    ViewData["Title"] = "Create";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Create A New Photo</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Create Photo</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Create A New Photo</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class="form-horizontal" method="post" asp-controller="Photo"
                          asp-action="CreatePhoto" asp-antiforgery="true" enctype="multipart/form-data">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label asp-for="MemberId" class="col-sm-2 col-form-label">Member Id</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" asp-for="MemberId"
                                           id="MemberId" placeholder="Member Id">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="PhotoFile" class="col-sm-2 col-form-label">upload Image</label>
                                <div class="col-sm-10">
                                    <input type="file" asp-for="PhotoFile"
                                           id="PhotoFile" placeholder="upload Image">
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info">Create</button>
                            <a asp-action="Index" asp-controller="Dashboard"
                               class="btn btn-default float-right">Cancel</a>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

