<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->

        <li class="nav-item">
            <a asp-action="Index" asp-controller="Dashboard" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Home
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-action="CreateMember" asp-controller="Member" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                    Add Member
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-action="GetMemberDataView" asp-controller="Member" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                    Show Member
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-action="AllMembersWithEditAndDeleteButton" asp-controller="Member" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                    Edit/Delete Member
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-action="CreatePhoto" asp-controller="Photo" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                    Add Photo
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-action="GetPhotoDataView" asp-controller="Photo" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                    Show Photo
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-action="AllPhotosWithEditAndDeleteButton" asp-controller="Photo" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                    Edit/Delete Photo
                </p>
            </a>
        </li>

    </ul>
</nav>